<!DOCTYPE html>
<html>
<head>
<title>订单表</title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			#if($shiro.hasPermission("hundsun:hscar:carpoolingOrders:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			#end
			#if($shiro.hasPermission("hundsun:hscar:carpoolingOrders:update"))
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			#end
			#if($shiro.hasPermission("hundsun:hscar:carpoolingOrders:delete"))
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			#end
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="carpoolingOrders.routeId" placeholder=""/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">1:即时订单、2:预约订单</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="carpoolingOrders.orderType" placeholder="1:即时订单、2:预约订单"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">价格</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="carpoolingOrders.price" placeholder="价格"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">奖励</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="carpoolingOrders.reward" placeholder="奖励"/>
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${rc.contextPath}/js/hundsun/hscar/carpoolingOrders.js?_${date.systemTime}"></script>
</body>
</html>