<!DOCTYPE html>
<html>
<head>
<title>好友表</title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<a v-if="hasPermission('hscar:friendship:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a v-if="hasPermission('hscar:friendship:update')" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a v-if="hasPermission('hscar:friendship:delete')" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="friendship.userId" placeholder=""/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="friendship.friendId" placeholder=""/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">朋友分组字段 1.好友2.拼友3.司机</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="friendship.group" placeholder="朋友分组字段 1.好友2.拼友3.司机"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">创建时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="friendship.createTime" placeholder="创建时间"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">更新时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="friendship.updateTime" placeholder="更新时间"/>
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${rc.contextPath}/js/hscar/friendship.js?_${date.systemTime}"></script>
</body>
</html>