<!DOCTYPE html>
<html>
<head>
<title>路线详情表</title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			#if($shiro.hasPermission("hundsun:hscar:routeDetail:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			#end
			#if($shiro.hasPermission("hundsun:hscar:routeDetail:update"))
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			#end
			#if($shiro.hasPermission("hundsun:hscar:routeDetail:delete"))
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			#end
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">出发地</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="routeDetail.departure" placeholder="出发地"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">目的地</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="routeDetail.destination" placeholder="目的地"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">目的地坐标</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="routeDetail.depCoordinate" placeholder="目的地坐标"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">出发地坐标</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="routeDetail.desCoordinate" placeholder="出发地坐标"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">用户ID</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="routeDetail.userId" placeholder="用户ID"/>
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${rc.contextPath}/js/hundsun/hscar/routeDetail.js?_${date.systemTime}"></script>
</body>
</html>