<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	
	<title>恒生拼车app</title>
	
	<link rel="stylesheet" href="statics/libs/bootstrap-3.3.7/bootstrap.min.css">
	<link rel="stylesheet" href="statics/css/font-awesome.min.css">
	<link rel="stylesheet" href="statics/css/AdminLTE.min.css">
	
	<!-- AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
	<link rel="stylesheet" href="statics/css/all-skins.min.css">
	<link rel="stylesheet" href="statics/css/main.css">
	
	<!-- 饿了么基于Vue的组件库Element UI。官网地址为http://element.eleme.io/ -->
	<link rel="stylesheet" href="statics/plugins/element-ui-1.3.3/element-ui.css" />

	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body class="hold-transition login-page">
<div class="login-box" id="hs_car_app" v-cloak>
  	<div class="login-logo">
    	<b>恒生拼车app</b>
  	</div>

  	<div class="login-box-body">
		<p class="login-box-msg">司机注册</p>
      	<div v-if="error" class="alert alert-danger alert-dismissible">
        	<h4 style="margin-bottom: 0px;"><i class="fa fa-exclamation-triangle"></i> {{errorMsg}}</h4>
      	</div>
      	<div class="form-group has-feedback">
        	<input type="text" class="form-control" v-model="mobile" placeholder="手机号">
        	<span class="glyphicon glyphicon-user form-control-feedback"></span>
      	</div>
      	<div class="form-group has-feedback">
        	<input type="password" class="form-control" v-model="password" placeholder="密码">
        	<span class="glyphicon glyphicon-lock form-control-feedback"></span>
      	</div>
      	<div class="form-group has-feedback">
        	<input type="password" class="form-control" v-model="confirmPassword" placeholder="确认密码">
        	<span class="glyphicon glyphicon-lock form-control-feedback"></span>
      	</div>
      	<div class="form-group has-feedback">
        	<input type="text" class="form-control" v-model="driverLicenseNumber" placeholder="驾照号码">
        	<span class="glyphicon glyphicon-book form-control-feedback"></span>
      	</div>
      	<div class="form-group has-feedback">
        	<input type="text" class="form-control" v-model="plateNumber" placeholder="车牌号">
        	<span class="glyphicon glyphicon-list-alt form-control-feedback"></span>
      	</div>
      	<div class="row">
      		<div class="col-xs-2"></div>
      		<div class="col-xs-4">
      			<a class="btn btn-primary" href="login.html"><i class="fa"></i>返回</a>
        	</div>
        	<div class="col-xs-4">
        		<a class="btn btn-primary" @click="register"><i class="fa"></i>注册</a>
        	</div>
      	</div>
  	</div>
</div>

<script src="statics/libs/jquery.min.js"></script>
<script src="statics/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="statics/libs/vue-2.3.3/vue.min.js"></script>
<!-- 饿了么基于Vue的组件库Element UI。官网地址为http://element.eleme.io/ -->
<script src="statics/plugins/element-ui-1.3.3/element-ui.js"></script>
<script src="statics/libs/bootstrap-3.3.7/bootstrap.min.js"></script>
<script src="statics/libs/app.js"></script>
<script src="js/common.js"></script>
<script type="text/javascript">
	var vm = new Vue({
		el:'#hs_car_app',
		data:{
			mobile: '',
			password: '',
			confirmPassword: '',
			driverLicenseNumber: '',
			plateNumber: '',
			error: false,
			errorMsg: ''
		},
		beforeCreate: function(){
			if(self != top){
				top.location.href = self.location.href;
			}
		},
		methods: {
			register: function (event) {
				if(vm.password != vm.confirmPassword) {
					vm.error = true;
					vm.errorMsg = "密码输入不一致!";
				} else {
					var data = "mobile="+vm.mobile+"&password="+vm.password+"&driverLicenseNumber="+vm.driverLicenseNumber+"&plateNumber="+vm.plateNumber;
					$.ajax({
						type: "POST",
						url: baseURL + "api/driver/system/register",
					    data: data,
					    dataType: "json",
					    success: function(result) {
							if(result.code == 0) { // 注册成功，并登陆司机首页
								localStorage.setItem("token", result.token);
								parent.location.href ='hscar/app/driver/driver_index.html';
							} else {
								vm.error = true;
								vm.errorMsg = result.msg;
							}
						}
					});
				}
			}
		}
	});
</script>
</body>
</html>